body {
    font-size: 36px;
    color: rgb(5, 85, 96);
}
p {
    border: 5px solid rgb(90,208,144);
    height: 122px;
    width: 338px;
    background-color: rgb(5,145,156);
    padding-top: 20px;
    padding-left: 20px;
    margin: 18px;
}
