body {
    background: rgb(225, 215, 201);
}
p {
    color: rgb(6, 117, 58);
    border: 3px solid rgb(255, 0, 0);
    width: 900px;
    background: rgb(255, 228, 50);
    margin-left: 200px;
}




/*     border: 1px solid rgb(6, 117, 58);
    width: 900px;
    height: 186px;
    margin: 200px;
    margin-top: 10px;  */